@model PuzzleAdv.Backend.ViewModels.Shop.ShopViewModel

<p>
    Trascina il localizzatore nel punto esatto in cui si trova il tuo negozio e fai click su Salva.
</p>

<div id="map-canvas" class="google-map"></div>


<input asp-for="Latitude" id="txtLat" type="hidden">
<input asp-for="Longitude" id="txtLong" type="hidden">

