@model PuzzleAdv.Backend.ViewModels.Shop.ShopViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Scheda negozio";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="container">
        <div class="ibox">

            <div class="ibox-title">
                <h4>Scheda negozio</h4>
            </div>

            <div class="ibox-content">

                <div class="tabs-container">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> Dati principali</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"> Localizzazione</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3"> Orari</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4"> Foto</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                @Html.Partial("_MainDataPartial")
                            </div>
                        </div>
                        <div id="tab-1" class="tab-pane">
                            <div class="panel-body">
                                &nbsp;
                            </div>
                        </div>
                        <div id="tab-1" class="tab-pane">
                            <div class="panel-body">
                                &nbsp;
                            </div>
                        </div>
                        <div id="tab-1" class="tab-pane">
                            <div class="panel-body">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                
                </div>
            
            </div>

        </div>
    </div>
</div>


