<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand"><i class="fa fa-puzzle-piece"></i> PuzzleAdv</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("PuzzleList", "Admin")"> <i class="fa fa-picture-o"></i> Elenco puzzle</a>
                </li>
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("PrizeList", "Prize")"> <i class="fa fa-shopping-bag"></i> Elenco premi</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</div>