
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="col-lg-8">
                <br />
                <div class="i-checks"><label> <input type="radio" value="option1" name="a"> <i></i> priorit&aacute; normale </label></div>
                <div class="i-checks"><label> <input type="radio" value="option2" name="a"> <i></i> priorit&aacute; alta per 1 settimana </label></div>
                <div class="i-checks"><label> <input type="radio" value="option2" name="a"> <i></i> priorit&aacute; alta per 2 settimane </label></div>
                <div class="i-checks"><label> <input type="radio" value="option2" name="a"> <i></i> priorit&aacute; alta per 3 settimane </label></div>
                <div class="i-checks"><label> <input type="radio" value="option2" name="a"> <i></i> priorit&aacute; alta per 4 settimane </label></div>
                <div class="i-checks"><label> <input type="radio" value="option2" name="a"> <i></i> priorit&aacute; massima per 1 settimana </label></div>
                <div class="i-checks"><label> <input type="radio" value="option2" name="a"> <i></i> priorit&aacute; massima per 2 settimane </label></div>
            </div>
            <div class="col-lg-4">
                <br />
                <div><label> GRATIS </label></div>
                <div><label> 19 &euro; </label></div>
                <div><label> 34 &euro; </label></div>
                <div><label> 49 &euro; </label></div>
                <div><label> 62 &euro; </label></div>
                <div><label> 89 &euro; </label></div>
                <div><label> 162 &euro; </label></div>
            </div>
        </div>
    </div>
</div>

