<p>Usa i comandi sotto per spostare l'immagine con precisione</p>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <label title="Carica immagine" for="inputImage1" class="btn btn-primary">
                <input type="file" accept="image/*" name="file" id="inputImage1" class="hide">
                Carica immagine
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="img-crop cropper-bg" id="img-crop-1">
            <img src="#" class="hidden">
        </div>
    </div>
    <div class="col-md-5">
        <div class="img-mockup img-mockup-3">
            <canvas id="textCanvas1" width="196" height="38" class="img-preview-text"></canvas>
            <div class="img-preview-3 cropper-bg" id="img-preview-3"></div>
            <canvas id="textCanvas2" width="196" height="38" class="img-preview-text-2"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7 text-center">
        <div class="btn-group">
            <p></p>
            <button class="btn btn-white" id="moveLeft1" type="button"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-white" id="moveRight1" type="button"><i class="fa fa-arrow-right"></i></button>
            <button class="btn btn-white" id="moveUp1" type="button"><i class="fa fa-arrow-up"></i></button>
            <button class="btn btn-white" id="moveDown1" type="button"><i class="fa fa-arrow-down"></i></button>
            <button class="btn btn-white" id="zoomIn1" type="button"><i class="fa fa-search-plus"></i></button>
            <button class="btn btn-white" id="zoomOut1" type="button"><i class="fa fa-search-minus"></i></button>
        </div>
    </div>
</div>
